.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.8fr 1.2fr;
  grid-template-rows: 0.2fr 2.3fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "head head head head"
    "workarea workarea workarea objectDescription"
    "footer footer footer footer";
}

.head { grid-area: head; /*background-color: blue;*/ }

.footer { grid-area: footer; /*background-color: burlywood;*/ }

.workarea { grid-area: workarea; margin: 10px; justify-content: center; /*background-color: darkgreen;*/ }

.objectDescription { grid-area: objectDescription; margin: 10px; /*background-color: darkred;*/ }

  